{% extends "base.html" %}
{% load static %}

{% block title %}
{{ page_title }}
{% endblock title %}

{% block main_content %}
    <h1>(CBV)Series  {{ object.author.name }}</h1>
    {{ object.author.book_name}}</br>
    <!-- {{ object.number}}</br> -->

    <h2></h2>
        <ul>
        {% for Series in object.genres.all %}
            <li>{{ Series }}</li>
        {% endfor %}
        </ul>
        <a href="{% url 'series-list' %}">All Series</a></br>

    {{ object.style}}</br>
    {{ object.description}}</br>
    {% endblock main_content %}